###############################################################################
# Set lf (line feed) line endings for all text files
###############################################################################
* text=auto

###############################################################################
# Any non text file types should be specified here
# binary is macro for = -text -diff
###############################################################################
*.jpeg binary 
*.png binary
*.ico binary